.Post-footer {
  .item-bestAnswerPost {
    .Post--BestAnswer {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.Post--BestAnswer {
  .icon {
    margin-left: 5px;
    margin-right: auto;
  }
}

@media @desktop-up {
  .item-isBestAnswer {
    float: left;
  }

  .Post--BestAnswer {
    .BestAnswer--User {
      margin-right: 7.5px;
      margin-left: auto;
    }
  }
}
